{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "destructuring": true,
    "forOf": true,
    "templateStrings": true
  },
  "env": {
    "node": true
  },
  "rules": {
    "block-scoped-var": 0,
    "padded-blocks": 0,
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross!
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "no-unused-vars": 1,
    "id-length": [2, {min: 2, exceptions: ['n', 'i', '_']}],
    "no-else-return": 0,
    "no-redeclare": 0, // temporary due to strange warnings
  },
  "plugins": [
  ],
  "globals": {
  }
}
